<span class="card">
  <input type="radio" name="card_to_play" id="<%= "#{card}_radio" %>" value="<%= card %>">
  <label for="<%= "#{card}_radio" %>">
    <%= render partial: "cards/#{card}" %>
  </label>
</span>
