<span class="card">
  <input type="checkbox" name="cards[]" id="<%= "#{card}_checkbox" %>" value="<%= card %>">
  <label for="<%= "#{card}_checkbox" %>">
    <%= render partial: "cards/#{card}" %>
  </label>
</span>
