<%= link_to "home", games_path %>

<div id="admin_games_table">
  <%= render "table" %>
</div>

<% @users.each do |user| %>
  <%= button_to user.name, '/admin-login', { method: :post, params: { user_id: user.id } } %>
<% end %>
