
<div class="crib_board crib_unit_6">
  <div class="crib_top">
    <div class="top_arch_container">
      <div class="finish_container">
        <div class="finish_text">finish</div>
        <div class="crib_circle"></div>
      </div>
      <div class="top_arch">
        <div class="inner_top_arch"><div class="innermost_top_arch"></div></div>
      </div>
      <div class="top_outer_left">
        <div id="36_lane_one" class="crib_circle"></div>
        <div id="37_lane_one" class="crib_circle"></div>
        <div id="38_lane_one" class="crib_circle"></div>
        <div id="39_lane_one" class="crib_circle"></div>
        <div id="40_lane_one" class="crib_circle"></div>
      </div>
      <div class="top_inner_left">
        <div id="36_lane_two" class="crib_circle"></div>
        <div id="37_lane_two" class="crib_circle"></div>
        <div id="38_lane_two" class="crib_circle"></div>
        <div id="39_lane_two" class="crib_circle"></div>
        <div id="40_lane_two" class="crib_circle"></div>
      </div>
      <div class="top_outer_right">
        <div id="45_lane_one" class="crib_circle"></div>
        <div id="44_lane_one" class="crib_circle"></div>
        <div id="43_lane_one" class="crib_circle"></div>
        <div id="42_lane_one" class="crib_circle"></div>
        <div id="41_lane_one" class="crib_circle"></div>
      </div>
      <div class="top_inner_right">
        <div id="45_lane_two" class="crib_circle"></div>
        <div id="44_lane_two" class="crib_circle"></div>
        <div id="43_lane_two" class="crib_circle"></div>
        <div id="42_lane_two" class="crib_circle"></div>
        <div id="41_lane_two" class="crib_circle"></div>
      </div>
    </div>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <div id="35_lane_one" class="crib_circle"></div>
      <div id="34_lane_one" class="crib_circle"></div>
      <div id="33_lane_one" class="crib_circle"></div>
      <div id="32_lane_one" class="crib_circle"></div>
      <div id="31_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <div id="35_lane_two" class="crib_circle"></div>
      <div id="34_lane_two" class="crib_circle"></div>
      <div id="33_lane_two" class="crib_circle"></div>
      <div id="32_lane_two" class="crib_circle"></div>
      <div id="31_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <div id="120_lane_one" class="crib_circle"></div>
      <div id="119_lane_one" class="crib_circle"></div>
      <div id="118_lane_one" class="crib_circle"></div>
      <div id="117_lane_one" class="crib_circle"></div>
      <div id="116_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <div id="120_lane_two" class="crib_circle"></div>
      <div id="119_lane_two" class="crib_circle"></div>
      <div id="118_lane_two" class="crib_circle"></div>
      <div id="117_lane_two" class="crib_circle"></div>
      <div id="116_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two top_border">
      <div id="46_lane_two" class="crib_circle"></div>
      <div id="47_lane_two" class="crib_circle"></div>
      <div id="48_lane_two" class="crib_circle"></div>
      <div id="49_lane_two" class="crib_circle"></div>
      <div id="50_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one top_border">
      <div id="46_lane_one" class="crib_circle"></div>
      <div id="47_lane_one" class="crib_circle"></div>
      <div id="48_lane_one" class="crib_circle"></div>
      <div id="49_lane_one" class="crib_circle"></div>
      <div id="50_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="30_lane_one" class="crib_circle"></div>
      <div id="29_lane_one" class="crib_circle"></div>
      <div id="28_lane_one" class="crib_circle"></div>
      <div id="27_lane_one" class="crib_circle"></div>
      <div id="26_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="30_lane_two" class="crib_circle"></div>
      <div id="29_lane_two" class="crib_circle"></div>
      <div id="28_lane_two" class="crib_circle"></div>
      <div id="27_lane_two" class="crib_circle"></div>
      <div id="26_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="115_lane_one" class="crib_circle"></div>
      <div id="114_lane_one" class="crib_circle"></div>
      <div id="113_lane_one" class="crib_circle"></div>
      <div id="112_lane_one" class="crib_circle"></div>
      <div id="111_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="115_lane_two" class="crib_circle"></div>
      <div id="114_lane_two" class="crib_circle"></div>
      <div id="113_lane_two" class="crib_circle"></div>
      <div id="112_lane_two" class="crib_circle"></div>
      <div id="111_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="51_lane_two" class="crib_circle"></div>
      <div id="52_lane_two" class="crib_circle"></div>
      <div id="53_lane_two" class="crib_circle"></div>
      <div id="54_lane_two" class="crib_circle"></div>
      <div id="55_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="51_lane_one" class="crib_circle"></div>
      <div id="52_lane_one" class="crib_circle"></div>
      <div id="53_lane_one" class="crib_circle"></div>
      <div id="54_lane_one" class="crib_circle"></div>
      <div id="55_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="25_lane_one" class="crib_circle"></div>
      <div id="24_lane_one" class="crib_circle"></div>
      <div id="23_lane_one" class="crib_circle"></div>
      <div id="22_lane_one" class="crib_circle"></div>
      <div id="21_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="25_lane_two" class="crib_circle"></div>
      <div id="24_lane_two" class="crib_circle"></div>
      <div id="23_lane_two" class="crib_circle"></div>
      <div id="22_lane_two" class="crib_circle"></div>
      <div id="21_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="110_lane_one" class="crib_circle"></div>
      <div id="109_lane_one" class="crib_circle"></div>
      <div id="108_lane_one" class="crib_circle"></div>
      <div id="107_lane_one" class="crib_circle"></div>
      <div id="106_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="110_lane_two" class="crib_circle"></div>
      <div id="109_lane_two" class="crib_circle"></div>
      <div id="108_lane_two" class="crib_circle"></div>
      <div id="107_lane_two" class="crib_circle"></div>
      <div id="106_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="56_lane_two" class="crib_circle"></div>
      <div id="57_lane_two" class="crib_circle"></div>
      <div id="58_lane_two" class="crib_circle"></div>
      <div id="59_lane_two" class="crib_circle"></div>
      <div id="60_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="56_lane_one" class="crib_circle"></div>
      <div id="57_lane_one" class="crib_circle"></div>
      <div id="58_lane_one" class="crib_circle"></div>
      <div id="59_lane_one" class="crib_circle"></div>
      <div id="60_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="20_lane_one" class="crib_circle"></div>
      <div id="19_lane_one" class="crib_circle"></div>
      <div id="18_lane_one" class="crib_circle"></div>
      <div id="17_lane_one" class="crib_circle"></div>
      <div id="16_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="20_lane_two" class="crib_circle"></div>
      <div id="19_lane_two" class="crib_circle"></div>
      <div id="18_lane_two" class="crib_circle"></div>
      <div id="17_lane_two" class="crib_circle"></div>
      <div id="16_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="105_lane_one" class="crib_circle"></div>
      <div id="104_lane_one" class="crib_circle"></div>
      <div id="103_lane_one" class="crib_circle"></div>
      <div id="102_lane_one" class="crib_circle"></div>
      <div id="101_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="105_lane_two" class="crib_circle"></div>
      <div id="104_lane_two" class="crib_circle"></div>
      <div id="103_lane_two" class="crib_circle"></div>
      <div id="102_lane_two" class="crib_circle"></div>
      <div id="101_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="61_lane_two" class="crib_circle"></div>
      <div id="62_lane_two" class="crib_circle"></div>
      <div id="63_lane_two" class="crib_circle"></div>
      <div id="64_lane_two" class="crib_circle"></div>
      <div id="65_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="61_lane_one" class="crib_circle"></div>
      <div id="62_lane_one" class="crib_circle"></div>
      <div id="63_lane_one" class="crib_circle"></div>
      <div id="64_lane_one" class="crib_circle"></div>
      <div id="65_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="15_lane_one" class="crib_circle"></div>
      <div id="14_lane_one" class="crib_circle"></div>
      <div id="13_lane_one" class="crib_circle"></div>
      <div id="12_lane_one" class="crib_circle"></div>
      <div id="11_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="15_lane_two" class="crib_circle"></div>
      <div id="14_lane_two" class="crib_circle"></div>
      <div id="13_lane_two" class="crib_circle"></div>
      <div id="12_lane_two" class="crib_circle selected"></div>
      <div id="11_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="100_lane_one" class="crib_circle"></div>
      <div id="99_lane_one" class="crib_circle"></div>
      <div id="98_lane_one" class="crib_circle"></div>
      <div id="97_lane_one" class="crib_circle"></div>
      <div id="96_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="100_lane_two" class="crib_circle"></div>
      <div id="99_lane_two" class="crib_circle"></div>
      <div id="98_lane_two" class="crib_circle"></div>
      <div id="97_lane_two" class="crib_circle"></div>
      <div id="96_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="66_lane_two" class="crib_circle"></div>
      <div id="67_lane_two" class="crib_circle"></div>
      <div id="68_lane_two" class="crib_circle"></div>
      <div id="69_lane_two" class="crib_circle"></div>
      <div id="70_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="66_lane_one" class="crib_circle"></div>
      <div id="67_lane_one" class="crib_circle"></div>
      <div id="68_lane_one" class="crib_circle"></div>
      <div id="69_lane_one" class="crib_circle"></div>
      <div id="70_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="10_lane_one" class="crib_circle"></div>
      <div id="9_lane_one" class="crib_circle"></div>
      <div id="8_lane_one" class="crib_circle"></div>
      <div id="7_lane_one" class="crib_circle selected"></div>
      <div id="6_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="10_lane_two" class="crib_circle"></div>
      <div id="9_lane_two" class="crib_circle"></div>
      <div id="8_lane_two" class="crib_circle"></div>
      <div id="7_lane_two" class="crib_circle"></div>
      <div id="6_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="95_lane_one" class="crib_circle"></div>
      <div id="94_lane_one" class="crib_circle"></div>
      <div id="93_lane_one" class="crib_circle"></div>
      <div id="92_lane_one" class="crib_circle"></div>
      <div id="91_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="95_lane_two" class="crib_circle"></div>
      <div id="94_lane_two" class="crib_circle"></div>
      <div id="93_lane_two" class="crib_circle"></div>
      <div id="92_lane_two" class="crib_circle"></div>
      <div id="91_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="71_lane_two" class="crib_circle"></div>
      <div id="72_lane_two" class="crib_circle"></div>
      <div id="73_lane_two" class="crib_circle"></div>
      <div id="74_lane_two" class="crib_circle"></div>
      <div id="75_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="71_lane_one" class="crib_circle"></div>
      <div id="72_lane_one" class="crib_circle"></div>
      <div id="73_lane_one" class="crib_circle"></div>
      <div id="74_lane_one" class="crib_circle"></div>
      <div id="75_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="5_lane_one" class="crib_circle"></div>
      <div id="4_lane_one" class="crib_circle"></div>
      <div id="3_lane_one" class="crib_circle"></div>
      <div id="2_lane_one" class="crib_circle"></div>
      <div id="1_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="5_lane_two" class="crib_circle"></div>
      <div id="4_lane_two" class="crib_circle"></div>
      <div id="3_lane_two" class="crib_circle"></div>
      <div id="2_lane_two" class="crib_circle"></div>
      <div id="1_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="90_lane_one" class="crib_circle"></div>
      <div id="89_lane_one" class="crib_circle"></div>
      <div id="88_lane_one" class="crib_circle"></div>
      <div id="87_lane_one" class="crib_circle"></div>
      <div id="86_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="90_lane_two" class="crib_circle"></div>
      <div id="89_lane_two" class="crib_circle"></div>
      <div id="88_lane_two" class="crib_circle"></div>
      <div id="87_lane_two" class="crib_circle"></div>
      <div id="86_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section spacer">
      <div id="1_spacer" class="crib_circle"></div>
      <div id="2_spacer" class="crib_circle"></div>
      <div id="3_spacer" class="crib_circle"></div>
      <div id="4_spacer" class="crib_circle"></div>
      <div id="5_spacer" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_two">
      <div id="76_lane_two" class="crib_circle"></div>
      <div id="77_lane_two" class="crib_circle"></div>
      <div id="78_lane_two" class="crib_circle"></div>
      <div id="79_lane_two" class="crib_circle"></div>
      <div id="80_lane_two" class="crib_circle"></div>
    </section>
  </div>
  <div>
    <section class="crib_section lane_one">
      <div id="76_lane_one" class="crib_circle"></div>
      <div id="77_lane_one" class="crib_circle"></div>
      <div id="78_lane_one" class="crib_circle"></div>
      <div id="79_lane_one" class="crib_circle"></div>
      <div id="80_lane_one" class="crib_circle"></div>
    </section>
  </div>
  <div class="start_container">
    <div class="start_text">start</div>
    <div class="start_circles">
      <section class="crib_section lane_one">
        <div id="0_lane_one" class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
      <section class="crib_section lane_two">
        <div id="0_lane_two" class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
  </div>
  <div class="crib_bottom">
    <div class="bottom_arch_container">
      <div class="bottom_arch">
        <div class="inner_bottom_arch">
          <div class="innermost_bottom_arch"></div>
        </div>
      </div>
      <div class="bottom_inner_arch">
        <div id="81_lane_two" class="crib_circle"></div>
        <div id="82_lane_two" class="crib_circle"></div>
        <div id="83_lane_two" class="crib_circle"></div>
        <div id="84_lane_two" class="crib_circle"></div>
        <div id="85_lane_two" class="crib_circle"></div>
      </div>
      <div class="bottom_outer_arch">
        <div id="81_lane_one" class="crib_circle"></div>
        <div id="82_lane_one" class="crib_circle"></div>
        <div id="83_lane_one" class="crib_circle"></div>
        <div id="84_lane_one" class="crib_circle"></div>
        <div id="85_lane_one" class="crib_circle"></div>
      </div>
    </div>
  </div>
</div>
