<div id="storybook-root">
  <div class="crib_board crib_unit_6">
    <div class="crib_top">
      <div class="top_arch_container">
        <div class="finish_container">
          <div class="finish_text">finish</div>
          <div class="crib_circle"></div>
        </div>
        <div class="top_arch">
          <div class="inner_top_arch">
            <div class="innermost_top_arch"></div>
          </div>
        </div>
        <div class="top_outer_left">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
        <div class="top_inner_left">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
        <div class="top_outer_right">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
        <div class="top_inner_right">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
      </div>
    </div>
    <div>
      <section class="crib_section lane_one top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one top_border">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle selected"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle selected"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section spacer">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_two">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div>
      <section class="crib_section lane_one">
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
        <div class="crib_circle"></div>
      </section>
    </div>
    <div class="start_container">
      <div class="start_text">start</div>
      <div class="start_circles">
        <section class="crib_section lane_one">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </section>
        <section class="crib_section lane_two">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </section>
      </div>
    </div>
    <div class="crib_bottom">
      <div class="bottom_arch_container">
        <div class="bottom_arch">
          <div class="inner_bottom_arch">
            <div class="innermost_bottom_arch"></div>
          </div>
        </div>
        <div class="bottom_inner_arch">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
        <div class="bottom_outer_arch">
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
          <div class="crib_circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

