<%= form_with(url: game_path(gvm), method: "patch") do |form| %>
  <div class="row">
    <% gvm.player_cards.each do |card| %>
      <%= render partial: 'cards/card_radio', locals: { card: card } %>
    <% end %>
  </div>
  <%= form.submit "Play card", id: "play_btn", class: "button is-primary animate_btn" %>
  <%= form.hidden_field :type_of_update, value: 'play_card' %>
<% end %>
