<span class="card">
  <input type="checkbox" name="cards[]" id="<%= "#{card}_checkbox" %>" value="<%= card %>">
  <label for="<%= "#{card}_checkbox" %>">
    <%= render partial: "cards/card_svg", locals: { card: card } %>
  </label>
</span>
