<div class="selectable_card">
  <input type="radio" name="card_to_play" id="<%= "#{card}_radio" %>" value="<%= card %>">
  <label for="<%= "#{card}_radio" %>">
    <%= render partial: "cards/card_png", locals: { card: card } %>
  </label>
</div>
