@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";
@import "./cards";

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

#game_play_message_container {
  display: flex;
  justify-content: space-between;
}

#game_play_message {
  margin: 0;
}

.svg_card {
  width: 90px;
  height: 135px;
}

.png_card {
  background-image: url("pc_computer_playing_cards.png");
  width: 71px;
  height: 96px;
}

#preview_page {
  .png_card {
    margin: 3px;
  }
}

input[type="radio"] {
  border: none;
}

input[type="radio"] ~ label {
  display: flex;
  border: 5px solid white;
  border-radius: 12px;
}

input[type="radio"]:checked ~ label {
  border: 5px solid red;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

#header {
  display: flex;
  justify-content: space-between;
}

.rotated_cards {
  position: relative;
  height: 135px;

  div[data-role="card"] {
    position: absolute;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        top: ($i - 1) * 7px;
        left: 42px - $i * 7px;
      }
    }
  }
}
