@charset "utf-8";
@import "./cards";
@import "./cribbage_board";

$layout-breakpoint-small: 480px;
$layout-breakpoint-medium: 1000px;

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

#game_play_container {
  display: flex;
  justify-content: space-between;
}

#game_play_message_container {
  display: flex;
  justify-content: space-between;
}

#game_play_message {
  margin: 0;
}

.svg_card {
  width: 90px;
  height: 135px;
}

#header_logo {
  background-image: url("cribbage_logo_cropped.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 340px;
  height: 50px;
}

#main_container {
  width: 50%;
  margin: auto;
}

@media (max-width: $layout-breakpoint-small) {
  #header_logo {
    width: 270px;
    height: 40px;
  }
  #crib_board_container {
    --crib_unit: 4px;
    --outer_top_radius: calc(3.5 * 4 * var(--crib_unit));
    --outer_top_center_x: calc(4 * 4 * var(--crib_unit));
    --inner_top_radius: calc(2.5 * 4 * var(--crib_unit));
    --inner_bottom_radius: calc(4 * var(--crib_unit));
    --outer_bottom_radius: calc(8 * var(--crib_unit));
    --bottom_arch_start_top: calc(var(--crib_unit) * -1);
    --bottom_arch_start_left: calc(9 * var(--crib_unit));
    --top_arch_start_bottom: calc(var(--crib_unit) * -1);
    --top_arch_start_left: calc(15 * var(--crib_unit));
  }
  #main_container {
    width: 100%;
  }
  #header {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: $layout-breakpoint-small) and (max-width: $layout-breakpoint-medium) {
  #main_container {
    width: 80%;
  }
}
@media (min-width: $layout-breakpoint-small) {
  #header {
    align-items: center;
    justify-content: space-between;
  }
}

.png_card {
  background-image: url("pc_computer_playing_cards.png");
  width: 71px;
  height: 96px;
}

// there's another rule for .card_red_x in cards.scss
.card_red_x {
  background-color: aqua;
  background-blend-mode: screen;
}

#preview_page {
  .png_card {
    margin: 3px;
  }
}

.selectable_card {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  margin: 4px;
  input[type="checkbox"], input[type="radio"] {
    margin: 10px 0;
    &:checked ~ label .png_card {
      background-color: antiquewhite;
      background-blend-mode: difference;
    }
  }
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

#header {
  display: flex;
}

.rotated_cards {
  position: relative;
  height: 135px;

  div[data-role="card"] {
    position: absolute;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        top: ($i - 1) * 7px;
        left: 42px - $i * 7px;
      }
    }
  }
}

.hide_in_n_seconds {
  animation-name: hide_in_n_seconds;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  visibility: visible;
}

.hide_in_n_seconds_test {
  @extend .hide_in_n_seconds;
  animation-delay: 100ms;
}

@keyframes hide_in_n_seconds {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.show_in_n_seconds {
  animation-name: show_in_n_seconds;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  visibility: hidden;
}

.show_in_n_seconds_test {
  @extend .show_in_n_seconds;
  animation-delay: 100ms;
}

@keyframes show_in_n_seconds {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.game_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px 10px;
}

#your_cards_section {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#opponent_cards_section {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#pile_cards_section {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#cut_card_section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#play_by_play_section {
  padding: 1px 12px 1px 6px;
  background-color: wheat;
  width: fit-content;
  box-shadow: 5px 5px 7px gray;
  ul {
    list-style-type: disc;
    padding-inline-start: 1rem;
  }
}

#crib_cards_section {
  grid-column: 2 / 3;
  &.players_crib {
    grid-row: 2 / 3;
  }
  &.opponents_crib {
    grid-row: 3 / 4;
  }
}

#header_actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.absolute_game_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.relative_game_container {
  position: relative;
}

.form-container {
  max-width: 30rem;
}

.highlighted_container {
  background-color: beige;
}

#your_name_field {
  margin-bottom: 1.5rem;
}

.button.is-primary {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.game_mgmt_buttons {
  display: flex;
  margin: 1rem 0;
  form.button_to {
    margin-right: 0.5rem;
  }
}

.notification {
  padding: 1rem;
  width: fit-content;
  &.is-danger {
    color: white;
    background-color: orangered;
  }
  &.is-success {
    background-color: greenyellow;
  }
  &.is-primary {
    background-color: dimgray;
    color: white;
  }
}
