.card_as {
	background-position: -0px -0px;
}
.card_2s {
	background-position: -71px -0px;
}
.card_3s {
	background-position: -142px -0px;
}
.card_4s {
	background-position: -213px -0px;
}
.card_5s {
	background-position: -284px -0px;
}
.card_6s {
	background-position: -355px -0px;
}
.card_7s {
	background-position: -426px -0px;
}
.card_8s {
	background-position: -497px -0px;
}
.card_9s {
	background-position: -568px -0px;
}
.card_10s {
	background-position: -639px -0px;
}
.card_js {
	background-position: -710px -0px;
}
.card_qs {
	background-position: -781px -0px;
}
.card_ks {
	background-position: -852px -0px;
}
.card_ah {
	background-position: -0px -97px;
}
.card_2h {
	background-position: -71px -97px;
}
.card_3h {
	background-position: -142px -97px;
}
.card_4h {
	background-position: -213px -97px;
}
.card_5h {
	background-position: -284px -97px;
}
.card_6h {
	background-position: -355px -97px;
}
.card_7h {
	background-position: -426px -97px;
}
.card_8h {
	background-position: -497px -97px;
}
.card_9h {
	background-position: -568px -97px;
}
.card_10h {
	background-position: -639px -97px;
}
.card_jh {
	background-position: -710px -97px;
}
.card_qh {
	background-position: -781px -97px;
}
.card_kh {
	background-position: -852px -97px;
}
.card_ac {
	background-position: -0px -194px;
}
.card_2c {
	background-position: -71px -194px;
}
.card_3c {
	background-position: -142px -194px;
}
.card_4c {
	background-position: -213px -194px;
}
.card_5c {
	background-position: -284px -194px;
}
.card_6c {
	background-position: -355px -194px;
}
.card_7c {
	background-position: -426px -194px;
}
.card_8c {
	background-position: -497px -194px;
}
.card_9c {
	background-position: -568px -194px;
}
.card_10c {
	background-position: -639px -194px;
}
.card_jc {
	background-position: -710px -194px;
}
.card_qc {
	background-position: -781px -194px;
}
.card_kc {
	background-position: -852px -194px;
}
.card_ad {
	background-position: -0px -291px;
}
.card_2d {
	background-position: -71px -291px;
}
.card_3d {
	background-position: -142px -291px;
}
.card_4d {
	background-position: -213px -291px;
}
.card_5d {
	background-position: -284px -291px;
}
.card_6d {
	background-position: -355px -291px;
}
.card_7d {
	background-position: -426px -291px;
}
.card_8d {
	background-position: -497px -291px;
}
.card_9d {
	background-position: -568px -291px;
}
.card_10d {
	background-position: -639px -291px;
}
.card_jd {
	background-position: -710px -291px;
}
.card_qd {
	background-position: -781px -291px;
}
.card_kd {
	background-position: -852px -291px;
}
.card_x_hatch_1 {
	background-position: -0px -388px;
}
.card_x_hatch_2 {
	background-position: -71px -388px;
}
.card_fish_1 {
	background-position: -142px -388px;
}
.card_fish_2 {
	background-position: -213px -388px;
}
.card_vine_1 {
	background-position: -284px -388px;
}
.card_vine_2 {
	background-position: -355px -388px;
}
.card_robot_1 {
	background-position: -426px -388px;
}
.card_robot_2 {
	background-position: -497px -388px;
}
.card_robot_3 {
	background-position: -568px -388px;
}
.card_rose {
	background-position: -639px -388px;
}
.card_green_circle {
	background-position: -710px -388px;
}
.card_red_x {
	background-position: -781px -388px;
}
.card_x_hatch_green {
	background-position: -852px -388px;
}
.card_shell {
	background-position: -0px -485px;
}
.card_castle_1 {
	background-position: -71px -485px;
}
.card_castle_2 {
	background-position: -142px -485px;
}
.card_beach_1 {
	background-position: -213px -485px;
}
.card_beach_2 {
	background-position: -284px -485px;
}
.card_beach_3 {
	background-position: -355px -485px;
}
.card_sleeve_1 {
	background-position: -426px -485px;
}
.card_sleeve_2 {
	background-position: -497px -485px;
}
.card_sleeve_3 {
	background-position: -568px -485px;
}
