$layout-breakpoint-medium: 1000px;

@media (max-width: $layout-breakpoint-medium) {

.card_as {
	background-position: -0.0px -0.0px;
}
.card_2s {
	background-position: -56.800000000000004px -0.0px;
}
.card_3s {
	background-position: -113.60000000000001px -0.0px;
}
.card_4s {
	background-position: -170.4px -0.0px;
}
.card_5s {
	background-position: -227.20000000000002px -0.0px;
}
.card_6s {
	background-position: -284.0px -0.0px;
}
.card_7s {
	background-position: -340.8px -0.0px;
}
.card_8s {
	background-position: -397.6px -0.0px;
}
.card_9s {
	background-position: -454.40000000000003px -0.0px;
}
.card_10s {
	background-position: -511.20000000000005px -0.0px;
}
.card_js {
	background-position: -568.0px -0.0px;
}
.card_qs {
	background-position: -624.8000000000001px -0.0px;
}
.card_ks {
	background-position: -681.6px -0.0px;
}
.card_ah {
	background-position: -0.0px -76.7px;
}
.card_2h {
	background-position: -56.800000000000004px -76.7px;
}
.card_3h {
	background-position: -113.60000000000001px -76.7px;
}
.card_4h {
	background-position: -170.4px -76.7px;
}
.card_5h {
	background-position: -227.20000000000002px -76.7px;
}
.card_6h {
	background-position: -284.0px -76.7px;
}
.card_7h {
	background-position: -340.8px -76.7px;
}
.card_8h {
	background-position: -397.6px -76.7px;
}
.card_9h {
	background-position: -454.40000000000003px -76.7px;
}
.card_10h {
	background-position: -511.20000000000005px -76.7px;
}
.card_jh {
	background-position: -568.0px -76.7px;
}
.card_qh {
	background-position: -624.8000000000001px -76.7px;
}
.card_kh {
	background-position: -681.6px -76.7px;
}
.card_ac {
	background-position: -0.0px -153.6px;
}
.card_2c {
	background-position: -56.800000000000004px -153.6px;
}
.card_3c {
	background-position: -113.60000000000001px -153.6px;
}
.card_4c {
	background-position: -170.4px -153.6px;
}
.card_5c {
	background-position: -227.20000000000002px -153.6px;
}
.card_6c {
	background-position: -284.0px -153.6px;
}
.card_7c {
	background-position: -340.8px -153.6px;
}
.card_8c {
	background-position: -397.6px -153.6px;
}
.card_9c {
	background-position: -454.40000000000003px -153.6px;
}
.card_10c {
	background-position: -511.20000000000005px -153.6px;
}
.card_jc {
	background-position: -568.0px -153.6px;
}
.card_qc {
	background-position: -624.8000000000001px -153.6px;
}
.card_kc {
	background-position: -681.6px -153.6px;
}
.card_ad {
	background-position: -0.0px -230.4px;
}
.card_2d {
	background-position: -56.800000000000004px -230.4px;
}
.card_3d {
	background-position: -113.60000000000001px -230.4px;
}
.card_4d {
	background-position: -170.4px -230.4px;
}
.card_5d {
	background-position: -227.20000000000002px -230.4px;
}
.card_6d {
	background-position: -284.0px -230.4px;
}
.card_7d {
	background-position: -340.8px -230.4px;
}
.card_8d {
	background-position: -397.6px -230.4px;
}
.card_9d {
	background-position: -454.40000000000003px -230.4px;
}
.card_10d {
	background-position: -511.20000000000005px -230.4px;
}
.card_jd {
	background-position: -568.0px -230.4px;
}
.card_qd {
	background-position: -624.8000000000001px -230.4px;
}
.card_kd {
	background-position: -681.6px -230.4px;
}
.card_x_hatch_1 {
	background-position: -0.0px -307.2px;
}
.card_x_hatch_2 {
	background-position: -56.800000000000004px -307.2px;
}
.card_fish_1 {
	background-position: -113.60000000000001px -307.2px;
}
.card_fish_2 {
	background-position: -170.4px -307.2px;
}
.card_vine_1 {
	background-position: -227.20000000000002px -307.2px;
}
.card_vine_2 {
	background-position: -284.0px -307.2px;
}
.card_robot_1 {
	background-position: -340.8px -307.2px;
}
.card_robot_2 {
	background-position: -397.6px -307.2px;
}
.card_robot_3 {
	background-position: -454.40000000000003px -307.2px;
}
.card_rose {
	background-position: -511.20000000000005px -307.2px;
}
.card_green_circle {
	background-position: -568.0px -307.2px;
}
.card_red_x {
	background-position: -624.8000000000001px -307.2px;
}
.card_x_hatch_green {
	background-position: -681.6px -307.2px;
}
.card_shell {
	background-position: -0.0px -384.0px;
}
.card_castle_1 {
	background-position: -56.800000000000004px -384.0px;
}
.card_castle_2 {
	background-position: -113.60000000000001px -384.0px;
}
.card_beach_1 {
	background-position: -170.4px -384.0px;
}
.card_beach_2 {
	background-position: -227.20000000000002px -384.0px;
}
.card_beach_3 {
	background-position: -284.0px -384.0px;
}
.card_sleeve_1 {
	background-position: -340.8px -384.0px;
}
.card_sleeve_2 {
	background-position: -397.6px -384.0px;
}
.card_sleeve_3 {
	background-position: -454.40000000000003px -384.0px;
}

}
