<div id="header">
  <div>Cribbage</div>
  <div id="header_actions">
    <div><%= @app.welcome_msg %></div>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign up", users_new_path %>
    <%= button_to "Log out", logout_path, method: :delete %>
  </div>
</div>
